<h2>Welcome to your Dashboard</h2>

<div class="container">
  <div class="row ">
    <div class="col-3">Left Col</div>
    <div class="col-9">
      <div class="row justify-content-around">
        <div class="col-3"><a href="/auth/today">Today</a></div>
        <div class="col-3"><a href="/auth/archive">Archive</a></div>
        <div class="col-3"><a href="/auth/edit">Today</a></div>
      </div>
      <div class="row">

      </div>
    </div>
  </div>
</div>



<a href="/">Signout</a>

<a href="/auth/today">Today</a>
<a href="/">Signout</a>