<div class="banner-login">
  <div class="row justify-content-center " style="padding-top:10%;">
    <h1>Error!</h1>
  </div>
  <div class="row justify-content-center " style="padding-top:10%;">
    <h2>There was an error on the server! Check the console!</h2>
  </div>
</div>