<div class="banner-login">
  <div class="row justify-content-center " style="padding-top:10%;">
    <h1>404 Error</h1>
    </div>
     <div class="row justify-content-center " style="padding-top:5%;">
    <h2>This route does not exist on the app! Check if everything is ok!</h2>
  </div>
</div>