<div class="banner-login">
  <div class="row justify-content-center " style="padding-top:10%;">
    <input type="hidden" name="loggedInState" id="loggedInState" value="true"/>
    <h4>{{message}}</h4>
  </div>
</div>